.button {
  color: white;
  background: $blue;
  border: none;
  text-align: center;
  font-weight: 300;
  font-size: $font-size-large;
  justify-content: center;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button--darkened {
  background: darken($color: $blue, $amount: 20%);
}